.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}
ul{
  list-style: none;
}
.header-container a{
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.active-btn{
  color:var(--color-primary-dark-2);
  border-bottom: 0.3rem solid #fff;
  padding-bottom: 0.2rem;
  /* font-weight: bold; */
  font-weight: 800;
}
.logout-btn{
  text-decoration: underline;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}