.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.header {
  width: 100%;
  margin: 1rem 0;
}

.main {
  width: 100%;
  flex-grow: 1;
  border: 0.1rem solid black;
  border-radius: 1rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .header, .main {
    margin: 0.5rem;
  }
}
