.problem-box{
  width: 60%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:black;
  background-color:#fff;
  margin-top: 2rem;
}
.problem-box li{
  list-style: none;
} 
.acpt{
  color: green;
}
.nacpt{
  color: red;
}