.submission-box{
  width: 100%;
  color:black;
  /* background-color:#fff; */
  border-top:0.5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr;
  text-decoration: none;
}
.submission-box li{
  list-style: none;
  border-right: 0.5px solid var(--color-grey-dark-1);
  padding: 1rem;
}
.submission-box__verdic{
  text-align: center;
}
.submission-box__language{
  text-align: center;
}
.submission-box__title{

}
.submission-box__rating{
  text-align: center;
}
.acpt{
  color: green;
}
.nacpt{
  color: red;
}