.home-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.home-container__header{
  width: 100%;
  list-style: none;
  font-weight: bold;
  text-transform: capitalize;
  height:10vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr ;
  padding: 1rem;
  justify-items: center;
  align-items: end;
}
.home-container__header-sr{
  
  
}
.home-container__header-title{

}
.home-container__header-rating{
  
}
.home-container__content{
  width: 100%;
}
.home-container__content > :nth-child(2n+1)
{
  background-color:#eee;
}
.home-container__content > :last-child{
  border-bottom:0.5px solid black;
}
.sort-btn{
  position:absolute;
  right: 2rem;
  border: none;
  cursor: pointer;
}
.addproblem-container{
  left: 2rem;
  top:15rem;
  position:fixed;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  /* background-color: slateblue; */
  background-image: linear-gradient(to right bottom,var(--color-primary-dark-1),var(--color-primary-light-1));
  text-decoration: none;
  z-index: 2;
  color: #fff;
  font-size: 1rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  outline-offset: 0.5rem;
  outline: 0.5rem inset var(--color-primary-light-1);
}
.addproblem-container:hover{
  transform: scale(1.2);
}
.addproblem-container :nth-child(2){
  font-size: 2rem;
}