.submission-container{
  /* background-color: red; */
display: flex;
flex-direction: column;
min-height: 88vh;
/* grid-template-rows: 1fr 15fr;
row-gap: 1rem; */
padding: 0.5rem;
}
.submission-container__header{
/* background-color: orange; */
font-size: 2rem;
color:slategray;
display: flex;
align-items: end;
justify-content: center;
margin-bottom: 2rem;
}
.submission-container__content{
  /* background-color: pink; */
  padding: 1rem;
  border: 1rem solid #ccc;
  background-color: black;
  color: #fff;
  position: relative;
  min-height: 85vh;
}
.copy-btn{
  position:absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
}