
.problemdesc-container{
  width: 100%;
  /* background-color:#E1F7F5; */
  color: #fff;
  height: 89vh;
  display: flex;
  justify-content: space-between;
}
.problemdesc-container__left{
  width: 50%;
  background-color:#999;
  text-align: center;
  margin-top: 1rem;
  border: 0.2rem solid black;
}
.problemdesc-container__left textarea{
  margin-top: 3rem;
  height: 70vh;
  resize:none;
  width: 100%;
  padding: 1rem;
  /* overflow: scroll; */
}
.problemdesc-container__right{
  width: 49%;
  color: black;
  font-size: 2rem;
  text-align: center;
}
.pdesc-footer{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdesc-footer button{
  margin-top: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  width: 6rem;
  transform: translateX(-50%);
}
.act{
  margin-top: 1rem;
  font-size: 1.6rem;
  background-color:#28b485;
  padding: 0.8rem;
  font-weight:bold;
}
.act::after{
  content: "✅";
}
.nact{
  margin-top: 1rem;
  font-size: 1.6rem;
  background-color:#ffb900;;
  padding: 0.8rem;
  font-weight:bold;
}
.nact::after{
  content:"❌";
}